:root {
  /* Fonts */
  --title-font: "Girassol", cursive;
  --main-font: "Castoro", serif;
  /* Colors */
  --white-color: #ffffff;
  --black-color: #000000;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: rgba(145, 123, 51, 0.829);
  --lighter-accent-color: rgba(155, 128, 41, 0.829);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--white-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  color: var(--black-color);
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 7500px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.section {
  width: 100%;
  padding-bottom: 50px;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==== HEADER ===*/
.header {
  display: flex;
  align-items: baseline;
  background-color: var(--accent-color);
  border: 1px solid var(--black-color);
}
.header:hover,
.header:focus {
  background-color: var(--lighter-accent-color);
  transition: var(--lighter-accent-color) 500ms linear;
  opacity: 1;
}
.header-item {
  color: var(--black-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: var(--accent-color) 500ms linear;
}
.header-item:active {
  color: var(--accent-color);
}
.header-element {
  display: flex;
  margin-right: 50px;
  animation-duration: 2000ms;
  text-decoration: none;
}
.header-element:first-child {
  margin-right: 160px;
  margin-left: 50px;
  font-size: 18px;
  color: var(--black-color);
  font-family: "Piazzolla", serif;
}
.header-element:first-child:hover {
  color: var(--white-color);
}
.header-element:not(last-child) {
  margin-right: 50px;
}
.header-item:hover,
.header-item:focus {
  color: var(--white-color);
}
.header-items {
  display: flex;
  align-items: flex-end;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*==== HERO ====*/

.hero {
  margin: 0 auto;
  max-width: 1600px;
  height: 650px;
  background-image: url("../img/img5.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  border-bottom: 1px solid var(--black-color);
  text-align: center;
}
/*===INFO SECTION===*/
.info .container {
  display: flex;
  padding-top: 30px;
  padding-left: 50px;
  border: 1.5px solid var(--accent-color);
  margin-top: 20px;
}
.info-list {
  line-height: 1.363;
  padding-bottom: 30px;
}
.info-item {
  padding-top: 10px;
}
.info-title {
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
}
.info-section {
  display: block;
}
.second-column {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left: 50px;
}
.activity {
  letter-spacing: 0.03em;
  padding-bottom: 30px;
  line-height: 1.363;
}
.activity-title {
  font-weight: 600;
  padding-bottom: 10px;
  font-style: bold;
  text-transform: uppercase;
}
.publishings {
  padding-bottom: 30px;

  font-weight: 600;
  letter-spacing: 0.03em;
}
.publishings-item {
  padding-top: 10px;
  font-weight: 400;
}

/*===FOOTER===*/
.contacts .container {
  display: flex;
  background-color: var(--accent-color);
  border: 1px solid var(--black-color);
  padding-bottom: 30px;
  padding-left: 50px;
  margin-top: 20px;
}
.contacts-title {
  padding-left: 4px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
}
.contact-details {
  padding-left: 2px;
  color: var(--black-color);
  font-weight: 400;
  letter-spacing: 0.03em;
}
.copyright {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 20px;
  color: rgb(65, 62, 62);
}
